@import url("https://fonts.googleapis.com/css2?family=Allura&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,50#ffd40d0;1,100;1,200;1,300;1,400&family=Fredoka:wght@300;400;500;600;700&family=Poppins:wght@500&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hero2{
    height: 400px;
    width:100%;
    background: url('../images/footer.png');
    background-color:rgb(201, 241, 227) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about-content-1{
    position: absolute;
    top: 10rem;
    left: 5rem;
}
.home-about{
    font-size: 1.7rem;
    font-family: "Fredoka One";
    margin: 1rem;
}
.about-home{
    height: 50px;
    width: 300px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-family: "Fredoka One";
}
.about-home a{
    text-decoration: none;
    color: white;
}
.home-icon{
    height: 20px;
}
/*heighly trusted sponser section start--*/
.heighly-trusted{
    min-height:800px;
    width: 100%;
}
.heigh-text{
    font-size: 2rem;
    text-align: center;
    font-family: "Fredoka One";
    font-weight: 900;
    padding: 1rem;
}
.trust-image{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.easy-order{
    height: 650px;
    width: 80%;
    padding: 5rem;
    background:rgb(206, 25, 25);
    border-radius: 0px 300px 300px 0px;
    position: relative;
    color: #fff;
}
.easy-order h4{
    font-size: 1.1rem;
    padding:5px;
}
.easy-order h3{
    font-size: 2.2rem;
    padding: 5px;
}
.tool-cir{
    height: 400px;
    width: 300px;
    color: #fff;
    padding: 1rem;
}
.tools{
    display: flex;
}
.tool-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background:#ffd40d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-border{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool-cir h3{
    font-size: 30px;
    line-height: 50px;
}
.tool-cir p{
    font-size: 20px;
    line-height: 30px;
}
.video-image{
    height: 400px;
    width: 400px;
    background: #ffd40d;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: -200px;
    
}
.video-image video{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/*--heighly trusted sponser section end--*/
/* restorent history section start*/
.restorent-history{
    min-height: 500px;
    width: 100%;
    padding: 2rem;
}
.restorent-content{
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    letter-spacing: 1px;
}
.restorent-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 3rem;
}
.begins-shop{
    height: 200px;
    width:48%;
    padding: 2rem;
    display: flex;
}
.begines-image{
    position: relative;
}
.begines-image img{
    height: 200px;
    width: 300px;
    border-radius: 80px;
}
.begins-content{
    width: 400px;
    padding: 1rem 0rem 0rem 3rem;
}
.begins-content h3{
    font-size: 30px;
    line-height: 60px;
    font-weight: bolder;
    font-family: "Fredoka One";
}
.begins-content p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.img-circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 40px;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-circle h3{
    color: #fff;
    font-size: 1.5rem;
}
/* restorent history section end*/
/*  provide best services start */
.provide-best-services{
    min-height: 400px;
    width: 100%;
    padding: 3rem;
}
.provide-services{
    display: flex;
    justify-content: space-evenly;
}
.provide-content{
    display: flex;
    padding: 2rem;
}
.heading-content{
    width: 50%;
    padding: 1rem;
}
.para-content{
    width: 50%;
    padding: 1rem;
}
.para-content p{
    font-size: 1.3rem;
    line-height: 30px;
    letter-spacing: 1px;
}
.heading-content h3{
    font-size: 1.5rem;
    color: red;
}
.heading-content h1{
    font-size: 4rem;
}
.afternoon{
    min-height: 200px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.afternoon-circle{
    height:170px;
    width: 170px;
    border-radius: 50%;
    border: 5px solid #ffd40d;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle-image{
    height:150px;
    width: 150px;
    border-radius: 50%;
    background-color: #ffd40d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.afternoon h2{
    font-size: 2rem;
    padding: 1rem;
}
.afternoon p{
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}
/*  provide best services end    */